<html>
  <head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.3.1.min.js"></script>
      <script>
	$(function() {
	$("#from").datepicker({ dateFormat: 'yy-mm-dd' });
	$("#to").datepicker({ dateFormat: 'yy-mm-dd' });
	} );
  </script>
  </head>
  <body>
    <form method="get">
      type <select name="type">
	<option value="outcome" <% if(type == "outcome") {%> selected <% } %>>outcome</option>
	<option value="duration" <% if(type == "duration") {%> selected <% } %>>duration</option>
      </select>
      from <input type="text" id="from" name="from" value="<%=from%>">
      to <input type="text" id="to" name="to" value="<%=to%>">
      map
      <select name="map">
	<option value="" <% if(!map) {%> selected <% } %>>all</option>
	<% maps.forEach((m) => {%>
	<option value="<%= m %>" <% if(map == m) {%> selected <% } %>><%= m %></option>
	<% }) %>
      </select>
      simplify <select name="simplify">
	<option value="0" <% if(simplify == 0) {%> selected <% } %>>no</option>
	<option value="1" <% if(simplify == 1) {%> selected <% } %>>yes</option>
      </select>
      display
      <select name="display">
	<option value="raw" <% if(display == "raw") {%> selected <% } %>>raw</option>
	<option value="percentage" <% if(!locals.display || display == "percentage") {%> selected <% } %>>percentage</option>
      </select>
      <button type="submit">Visualize</button>
    </form>
    <div id="gd"></div>

    <script>
      var data = <%- JSON.stringify(data) %>;
      var layout = <%- JSON.stringify(layout) %>;
      Plotly.newPlot("gd", /* JSON object */ {
          "data": data,
          "layout": layout
      })
    </script>
  </body>
</html>
